<div class="container">
  <div class="row">
    <div class="main">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">
            <%= image_tag("fb.png", alt: "Edit Entry")%>
          </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">
            <%= image_tag("gg.png", alt: "Edit Entry")%>
          </a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>
      <%= form_for :session, url: sessions_path do |f| %>
        <div class="form-group">
          <%= f.label :Email %>
          <%= f.email_field :email, class: "form-control", id: "inputUsernameEmail" %>
        </div>
        <div class="form-group">
          <%= f.label :Password %>
          <%= f.password_field :password, class: "form-control", id:"inputPassword" %>
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox">
            Remember me </label>
             <a class="pull-right" href="#">Forgot password?</a>
        </div>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>