<div class="col-4">
  <div class="trans product<%=product.id%>">
    <%= image_tag product.images.first.url_url, class: "list-product image" if product.images.first %>
    <div class="overlay">
      <div class="add">
      <%= button_to "#", class:"btn btn-success", remote: true do %>
        <i class='fas fa-cart-plus'></i> Add Cart
      <% end %>
      </div> 
    </div> 
  </div>
  <div class="buying">
    <%= link_to product_path(product) do%>
      <span><%= product.name_product %></span>
    <% end %>
    <h6>$<%= product.price %></h6>
  </div>
</div>